.home__page {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.login__message {
  display: flex;
  flex-direction: column;
}

.login__message > h2 {
  font-size: 80px;
  margin: 0;
}

.login__message > h1 {
  font-size: 66px;
  width: 80%;
  margin: 10px auto;
  margin-top: 0;
  font-weight: 900;
  color: rgb(179 46 46);
}

.login__message > p {
  padding: 15px 0;
  line-height: 1.5em;
  width: 50%;
  margin: auto;
  font-size: 16px;
}

.login__button {
  width: 300px;
  margin: 15px auto 0px auto;
  padding: 15px 0;
  border: none;
  background: rgb(7, 208, 235);
  font-family: "Inter";
  color: rgb(4, 0, 252);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

@media (max-width: 800px) {
  .home__page {
    height: 65vh;
  }
  .login__message > h1 {
    font-size: 23px;
  }
}
@media (max-width: 500px) {
  .home__page {
    height: 60vh;
  }
  .login__message > h1 {
    letter-spacing: 0px;
    text-decoration: none;
    font-size: 20px;
    line-height: normal;
  }
  .login__button {
    width: 255px;
  }
}
